
.pageLayout {
  margin: 0;
  padding: 0;
  display: block;
}


.topLayout{
  height: 70px;
  background-color: rgb(101, 167, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 0 40px;                 
  /* border: 8px solid rgb(100, 45, 168); */
}



.homePageLink {
  text-decoration: none;
  color: white;      
  font-size: 20px;
  padding: 6px 12px;
  border: 2px solid white;        /* outline */
  border-radius: 9px;   
}

.homePageLink:hover{
  background-color: rgb(111, 226, 232);
}



#title {
  margin: 0;
  padding: 0; 
  font-size: 30px;
  color:rgb(231, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
}