/* Make the video fill the entire screen */

.pageLayout {
  margin: 0;
  padding: 0;
  display: block;
}

.backgroundSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* cover without stretching */
  z-index: -1;       /* put behind all content */
  pointer-events: none; /* ignore clicks */
}

.topLayout{
  height: 70px;
  background-color: rgb(101, 167, 225);
  display: flex;
  align-items: center;
  /* border: 8px solid rgb(100, 45, 168); */

}

.centerInput {
    /* border: 8px solid rgb(40, 190, 220); */
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.aboutData{
  border: 8px solid rgb(230, 23, 23);
}


.aboutLink {
  padding-left: 500px;
  text-decoration: none;
  color: white;      /* keep your color */
  font-size: 20px;
}


.snowButton {
  font-size: 12px;
}


#title {
  margin: 0;
  padding: 0; 
  font-size: 30px;
  color:rgb(231, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}