/* Make the video fill the entire screen */
.backgroundSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* cover without stretching */
  z-index: -1;       /* put behind all content */
  pointer-events: none; /* ignore clicks */
}

.centerInput {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;     
}

.snowButton {
  font-size: 12px;
}