/* Make the video fill the entire screen */

.pageLayout {
  background-color: rgb(11, 93, 164);
  margin: 0;
  padding: 0;
  display: block;
}

.backgroundSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* cover without stretching */
  z-index: -1;
  /* put behind all content */
  pointer-events: none;
  /* ignore clicks */
}

.topLayout {
  height: 70px;
  background-color: rgb(101, 167, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  /* border: 8px solid rgb(100, 45, 168); */

}

.centerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.leftInput {

  display: flex;
  align-items: flex-start;      
  justify-content: flex-start;   
  flex-direction: column;
  padding-left: 40px;           

}


.aboutLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border: 2px solid white;
  /* outline */
}

.aboutLink:hover {
  background-color: rgb(111, 226, 232);
}

.snowButton {
  font-size: 12px;
}


#title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: rgb(231, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 32px;
  color: black;
  margin-top: 15px;
}

input {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: white;
}