.pageLayout {
    background-color: rgb(33, 121, 198);
    margin: 0;
    padding: 0;
    display: block;
}

.topLayout{
    height: 70px;
    background-color: rgb(101, 167, 225);
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 0 40px;                 
  /* border: 8px solid rgb(100, 45, 168); */
}



.bottomLayout{
    margin-top: auto;
}

.middleLayout{
    display: flex;
    align-items: stretch;        
    justify-content: space-between; 
    padding: 40px;
    gap: 30px;
}

.aboutText{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 2px solid rgb(141, 188, 228);
    border-radius: 18px;   
    background-color: rgb(53, 145, 225);
}


.homePageLink {
    text-decoration: none;
    color: white;      
    font-size: 20px;
    padding: 6px 12px;
    border: 2px solid white;        /* outline */
    border-radius: 9px;   
}

.homePageLink:hover{
    background-color: rgb(111, 226, 232);
}

.titleText{
    color: rgb(245, 244, 244);
    font-size: 55px;
    text-align: center;
    margin: 5px;
}

.genText{
    margin: 5px;
    color: rgb(193, 187, 187);
    font-size: 25px;
    text-align: center
}

#title {
    margin: 0;
    padding: 0; 
    font-size: 30px;
    color:rgb(231, 235, 238);
    font-family: Arial, Helvetica, sans-serif;
}
.aboutText, .dataLayout, .useLayout, .whoLayout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    border: 2px solid rgb(141, 188, 228);
    border-radius: 18px;   
    background-color: rgb(53, 145, 225);
}
.aboutText, .dataLayout, .useLayout, .whoLayout{
    display: flex;
    align-items: flex-start;   
    justify-content: flex-start; 
    padding: 25px;
    border: 2px solid rgb(141, 188, 228);
    border-radius: 18px;   
    background-color: rgb(53, 145, 225);
    flex: 1;
}
