.pageLayout {
    background-color: rgb(11, 93, 164);
    margin: 0;
    padding: 0;
    display: block;
}

.resultsBlock {

    background-color: rgb(11, 93, 164);
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: larger;
}

.result-box {
    color: white;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

}