/* Make the video fill the entire screen */

.backgroundSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* cover without stretching */
  z-index: -2;
  /* put behind all content */
  pointer-events: none;
  /* ignore clicks */
  filter: blur(8px);
}

.pageLayout {
  background-color: rgb(11, 93, 164);
  margin: 0;
  padding: 0;
  display: block;
}

.colorOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(62, 62, 62, 0.3);
  z-index: -1;
  pointer-events: none;
}

.topLayout {
  height: 70px;
  background-color: rgb(101, 167, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.descriptionContainer {
  position: absolute;       
  top: 330px;               
  left: 62%;                
  transform: translateX(-50%); 
  width: 750px;
  text-align: center;
  z-index: 2;         
}
.description {
  font-family: sans-serif, Arial, Helvetica;
  color: white;
  font-weight: normal;
}

.imageContainer {
  position: absolute;       
  top: 330px;              
  left: 25%;                
  transform: translateX(-50%); 
  width: 270px;
  height: 270px;
  justify-content: center; /* horizontal centering */
  align-items: center;
  z-index: 10; 
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border: 8px solid black;
  overflow: hidden;    
}

.imageContainer img {
  position: absolute;
  top: 50%;              
  left: 50%;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

.centerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: larger;
}

.inputContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 35vw;  
  margin-top: 350px;
  margin-left: 800px;
}

input, select {
  width: 200px;
  height: 42px;
  font-size: 18px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.leftInput {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.leftInput label {
  text-align: center;
  margin-bottom: 10px;
}

.rightInput {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
}

.rightInput label {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.inputWithBackground {
  display: flex;
  background-color: white;
  padding: 20px 30px 20px 30px;
  gap: 30px;
  border-radius: 15px;
  border: 8px solid rgb(101, 167, 225);
  min-width: 700px;
  align-items: center;
  z-index: 0;
}

.snowButton {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(101, 167, 225);
  border-radius: 10px;
  /* padding: 20px 20px; */
  display: inline-block;
  /* Important for links */
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
}

.aboutLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border: 2px solid white;
  margin: 0 40px 0 0;
  /* outline */
}

.aboutLink:hover {
  background-color: rgb(111, 226, 232);
}

#title {
  margin: 0 0 0 40px;
  padding: 0;
  font-size: 30px;
  color: rgb(231, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 32px;
  color: black;
  margin-top: 15px;
}
