/* Make the video fill the entire screen */


.pageLayout {
  background-color: rgb(11, 93, 164);
  margin: 0;
  padding: 0;
  display: block;
}


.backgroundSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* cover without stretching */
  z-index: -1;
  /* put behind all content */
  pointer-events: none;
  /* ignore clicks */
}


.topLayout {
  height: 70px;
  background-color: rgb(101, 167, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  /* border: 8px solid rgb(100, 45, 168); */


}


.centerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: larger;


}




.inputContainer {


  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 250px;


}

.leftInput {


  display: flex;
  flex-direction: column;
  padding-left: 200px;


}


.leftInput label {
  text-align: center;
  margin-bottom: 10px;
}




.rightInput {


  display: flex;
  flex-direction: column;
  padding-right: 200px;


}


.rightInput label {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;


}


.inputWithBackground {
  background-color: rgb(101, 167, 225);
  padding: 20px 30px;
  border-radius: 8px;
  margin: 0 20px;
  min-width: 250px;

}


.snowButton {
  margin-top: 90px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(101, 167, 225);
  border-radius: 10px;
  /* padding: 20px 20px; */


  display: inline-block;
  /* Important for links */
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 40px;
}


.inputWithBackground:first-child {
  margin-left: 200px;
}


.inputWithBackground:last-child {
  margin-right: 200px;
}




.aboutLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border: 2px solid white;
  /* outline */
}


.aboutLink:hover {
  background-color: rgb(111, 226, 232);
}






#title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: rgb(231, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
}


label {
  font-size: 32px;
  color: black;
  margin-top: 15px;
}


input {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: white;
}