<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutStyle.css') }}">
</head>
<body class="pageLayout">
    <div class = "topLayout"> 
        <h1 id="title">Snow Predictor!</h1>
        <a class="homePageLink" href="{{ url_for('home') }}">Home Page</a>
    </div>
    <div class = "middleLayout">
        <div class = "aboutText">
            <div class="aboutTextCentered">
                <h2 id="generalTitle" class ="titleText">About The Site</h2>
                <p id="generalText" class="genText">
                Welcome to our Snow Forecasting App! This app helps users check their chances of snowfall 
                up to 5 days in advance across the United States. Additionally, students and teachers 
                can estimate the likelihood of a snow day based on their location and the current forecast.
                </p>
            </div>
        </div>
        <div class = "dataLayout">
            <div class="dataTextCentered">
                <h2 id="dataTitle" class ="titleText">Data Collection:</h2>
                <p id="dataText"class="genText">
                Our forecast data is collected from the Open-Meteo Weather API, which provides live hourly 
                forecasts using a variety of deterministic weather models and weather model ensembles.  
                Location data comes from the Nominatim/OpenStreetMap public API, which offers precise coordinates 
                for cities across the United States.
                </p>
            </div>
        </div> 
        <div class = "useLayout">
            <div class="useTextCentered">
                <h2 id="useTitle" class ="titleText">How it works</h2>
                <p id="useText"class="genText">
                Simply enter your city and state. Using live weather data and the location of the forecast, 
                our algorithm determines your chance of snow and school cancellations. While we can't guarantee 
                official decisions from your school district, we provide an estimate based on live weather data 
                to keep you informed.
                </p>
            </div>
        </div> 
    </div>
    <div class = "bottomLayout"> 
        <p id = "bottomText" >© 2025, Designed and coded by Aaron Morales, David Ahn, Dawood Rauf, and Joshua Kwon</p>
    </div>

</body>
</html>
