<!DOCTYPE html>
<html>

<head>
    <title>Find My Snow Forecast!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="pageLayout">
    <video autoplay loop muted playsinline class="backgroundSnow">
        <source src="{{ url_for('static', filename='snowfall.mp4') }}" type="video/mp4">
    </video>
    <div class="topLayout">
        <h1 id="title">Snow Predictor!</h1>
        <a class="aboutLink" href="about">About</a>
    </div>
   
    <div class="leftInput">
        <h1 id="header">See How Much Snow Is Coming!</h1>
    </div>

     <div class="centerInput">
        <label for="num1">City:</label>
        <input type="text" id="num1" placeholder="">
        <label for="num2">State:</label>
        <input type="text" id="num2" placeholder="">
        <button class="snowButton" id="snowButton">Get Snow Forecast</button>
        <p id="answer"></p>
    </div>


    <p id="answer"></p>
    <script src="{{ url_for('static', filename='websiteview.js') }}"></script>

</body>

</html>