<!DOCTYPE html>
<html>

<head>
    <title>Snow Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}">
</head>

<body class="pageLayout">
    <video autoplay loop muted playsinline class="backgroundSnow">
        <source src="{{ url_for('static', filename='snowfall.mp4') }}" type="video/mp4">
    </video>

    <div class="topLayout">
        <h1 id="title">Snow Results!</h1>
        <a class="aboutLink" href="/">Back Home</a>
    </div>

    <div class="centerInput">
        <h2>Your Snow Forecast Results</h2>



        <div class="advisoryBlock">
            <h3 id="advisoryHeading">Advisory</h3>

            <div id="advisoryContent" class="advisory-text">
                Loading advisories...
            </div>
        </div>


        <div class="tab">

            <div class="tabButtons">

                <button id="hourlyTab">Hourly Forecast</button>
                <button>School Cancellation</button>

            </div>

             <div id="hourlyContent" class="hourlycontent active">
                <div class="hourlyBox">
                    <div class="hourlyScroll">
                        <h2>Snow Forecast</h2>
                        <pre id="forecast" class="hourly-data">Loading forecast...</pre>
                    </div>
                </div>
            </div>

            <h2>Advisories</h2>
            <p id="advisoryContent">Loading advisories...</p>




            <div class="tabContent">

                <div>Content for hourly</div>
                <div>Content for school cancellation</div>

            </div>

        </div>

    </div>



    <p id="answer"></p>
    <script src="{{ url_for('static', filename='resultsView.js') }}"></script>

</body>

</html>